{% extends "cn/base.html" %}

{% block content %}
<title>宠物的预约</title>

<style>
    table
{
animation:mymove 0.5s;
-webkit-animation:mymove 0.5s; /*Safari and Chrome*/
}


@keyframes mymove
{
from {transform: rotateY(90deg);}
to {transform: rotateY(0deg);}
}

@-webkit-keyframes mymove /*Safari and Chrome*/
{
from {transform: rotateY(90deg);}
to {transform: rotateY(0deg);}
}

</style>
    

<body style="
	overflow-x: hidden;
	background: #50a3a2;
	background: linear-gradient(135deg, rgb(165, 155, 224) 0%, rgba(242,147,113,1) 100%) no-repeat center center;
    width:100vw;
    height:100vh;
    background-attachment: fixed;"><br>

<style>
    th{
        text-align:center;
    }
</style>

<table class="table" id='appointment-table' style="width:500px;margin:auto; text-align:center;">
	<div class="special-buttons">
					   <div class="btn" data-toggle="modal" data-target="#myModal-add-appointment"><span class="circle" style="z-index: 0;"></span><span class="text">添加</span></div>
					   <div class="btn" onclick="location.replace('/appointment')"><span class="circle" style="z-index: 0;"></span><span class="text">我的</span></div>
					   <div class="btn" data-toggle="modal" data-target="#myModal-check-appointment"><span class="circle" style="z-index: 0;"></span><span class="text">选择日期</span></div>
					</div>
				
		<div class="special-buttons">
				<div class="btn" onclick="sorta('.priority',true)"><span class="circle"></span><span class="text">优先级 升序</span></div>
				<div class="btn" onclick="sorta('.docname')"><span class="circle"></span><span class="text">医生 升序</span></div>
				<div class="btn" onclick="sorta('.priority')"><span class="circle"></span><span class="text">紧急度 升序</span></div>
				<div class="btn" onclick="sorta('.date')"><span class="circle"></span><span class="text">日期 升序</span></div>
				<div class="btn" onclick="sorta('.health')"><span class="circle"></span><span class="text">健康 升序</span></div>
				<div class="btn" onclick="sorta('.petid',true)"><span class="circle"></span><span class="text">宠物 升序</span></div>
				<div class="btn" onclick="sorta('.appid',true)"><span class="circle"></span><span class="text">编号 升序</span></div>
				<div class="btn" onclick="sorta('.hospital')"><span class="circle"></span><span class="text">医院 升序</span></div>
				<div class="btn" onclick="sorta('.status')"><span class="circle"></span><span class="text">状态 升序</span></div>
				</div>
				

				<div class="special-buttons">
						<div class="btn" onclick="sortd('.priority',true)"><span class="circle"></span><span class="text">优先级 降序</span></div>
						<div class="btn" onclick="sortd('.docname')"><span class="circle"></span><span class="text">医生 降序</span></div>
						<div class="btn" onclick="sortd('.priority')"><span class="circle"></span><span class="text">紧急度 降序</span></div>
						<div class="btn" onclick="sortd('.date')"><span class="circle"></span><span class="text">日期 降序</span></div>
						<div class="btn" onclick="sortd('.health')"><span class="circle"></span><span class="text">健康度 降序</span></div>
						<div class="btn" onclick="sortd('.petid',true)"><span class="circle"></span><span class="text">宠物 降序</span></div>
						<div class="btn" onclick="sortd('.appid',true)"><span class="circle"></span><span class="text">编号 降序</span></div>
						<div class="btn" onclick="sortd('.hospital')"><span class="circle"></span><span class="text">医院 降序</span></div>
						<div class="btn" onclick="sortd('.status')"><span class="circle"></span><span class="text">状态 降序</span></div>
						</div>
	
	<thead>
		<tr>
			<td>编号</td>
			<td>宠物</td>
			<td>名字</td>
			<td>照片</td>
			<td>医生</td>
			<td>图标</td>
            <td>紧急度</td>
            <td>健康</td>
            <td>优先级</td>
            <td>医院</td>
            <td>状态</td>
			<td>日期</td>
			<td>删除</td>
			<td>管理</td>
		</tr>
	</thead>
	<tbody>
	{# active success warning danger #}

	{%for a in apppointments%}
	{%with p=get_pet(a.pet)%}
		<tr id="appointment-row" class="{{['danger','active','success'][a.priority]}}">
			<td class="appid">{{a.id}}</td>
			<td class="petid">{{a.pet}}</td>
			<td class="petname">{{p.petsname}}</td>
			<td ><img src='/icon/{{rand}}/pet_icon_{{a.pet}}.jpg' 
				onerror="onerror=null;src='/img/t2.png'" width="50px" height="50px"></td>
			{%with doc=get_user(a.doctor)%}
			<td><a onclick="init_doc('{{doc.username}}')" href="javascript:void(0);" class="docname">{{doc.username}}</a></td>
			<td><img src="/icon/{{rand}}/{{doc.username}}.jpg" onerror="onerror=null;src='/img/t2.png'" width="50px" height="50px" style="border-radius:10px;"></td>
			{%endwith%}
			<td style="color:{{['red','pink','black'][a.priority]}}" class="emergency">{{['紧急','重要','普通'][a.priority]}}</td>
            <td style="color:{{['red','black','green'][p.health]}}" class="health">{{['糟糕','未知','完美'][p.health]}}</td>
			<td class="priority">{{a.priority*3+p.health}}</td>
			<td class="hospital">{{['北京','上海','广州'][a.hospital]}}</td>
			<td class="status">{{["未确认","已确认","手术队列","手术完成","等待释放"][a.status]}}</td>

			<td><a onclick="init_date('{{a.date}}')" href="javascript:void(0);" class="date">{{a.date}}</a></td>

			<script>
				    function init_date(date){
						init_page('/appointment/pure/date/'+date,900);
					  }
			</script>

			{%if p.owner == user.id or user.user_level!=0%}
			<td> <div class="special-buttons">
                       <div class="btn" onclick="prepareDelete({{a.id}})" data-toggle="modal" data-target="#myModal-delete-appointment"><span class="circle" style="z-index: 0;"></span><span class="text">删除</span></div> </div></td>
			<td> <div class="special-buttons">
					   <div class="btn" onclick="prepareManage({{a.id}},{{a.pet}},'{{a.doctor}}','{{a.date}}',{{a.priority}},{{a.hospital}},{{a.status}})" data-toggle="modal" data-target="#myModal-manage-appointment"><span class="circle" style="z-index: 0;"></span><span class="text">管理</span></div> </div></td>
			{%else%}
			<td> <div class="special-buttons">
                       <div class="btn" ><span class="circle" style="z-index: 0;"></span><span class="text">不是你的宠物</span></div> </div></td>
			<td> <div class="special-buttons">
					   <div class="btn" ><span class="circle" style="z-index: 0;"></span><span class="text">不是你的宠物</span></div> </div></td>
			{%endif%}

		</tr>
	{%endwith%}
	{%endfor%}
	</tbody>
</table>

<script>

	function compare(a,b,sorttype){
		window.b=b
		numa=a.querySelector(sorttype).textContent
		numb=b.querySelector(sorttype).textContent

		if(window.isnum){
			numa=parseInt(numa)
			numb=parseInt(numb)
		}
		if(window.st){
			return numa < numb;
		}else{
			return numa > numb;
		}
	}
	function to_array(arr){
		result=[]
		for(var i=0;i<arr.length;i++){
			result.push(arr[i])
		}
		return result
	}

	function sorta(sorttype,isnum=false){
		window.st=false
		window.isnum=isnum
		attach_all(sort_appointment(sorttype))
	}

	function sortd(sorttype,isnum=false){
		window.st=true
		window.isnum=isnum
		attach_all(sort_appointment(sorttype))
	}
		
		
	function sort_appointment(sorttype){
		allrows=document.querySelectorAll('#appointment-row')
		console.log(allrows)
		allrows=to_array(allrows)
		console.log(allrows)
		sorted=false;
		while(!sorted){
		sorted=true;
			for (var i=0;i<allrows.length-1;i++){
				if(compare(allrows[i],allrows[i+1],sorttype)){
					temp=allrows[i]
					allrows[i]=allrows[i+1]
					allrows[i+1]=temp   
					console.log('exchange')
					sorted=false
				}
			}
		}
		console.log(allrows)
		return allrows;
	}

	function detach_all(arr){
		table=document.querySelector('#appointment-table')
		for(var v of arr){
			v.remove()
		}
	}
	function attach_all(arr){
		table=document.querySelector('#appointment-table tbody')
		for(var v of arr){
			table.appendChild(v)
		}
	}

</script>

<div class="modal-box">
	<!-- Modal -->
<div class="modal fade" id="myModal-delete-appointment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
			<div class="modal-body">
				<div class="icon"> ! </div>
				<h3 class="title">要删这个预约么?</h3>
				<form method="POST">
				
				<p class="description">宠物名字是空的</p>
				<button name='delete_appointment' class="subscribe">给我删</button>
				
				</form>
			</div>
		</div>
	</div>
</div>
</div>

<style>
	#myModal-manage-appointment label,#myModal-add-appointment label{
		width:80px;
		text-align: right;
	}
	#myModal-manage-appointment input,select,option{
		width:180px;
	}
	#myModal-add-appointment input,select,option{
		width:180px;
	}
</style>

<div class="modal-box">
	
		<!-- Modal -->
	<div class="modal fade" id="myModal-manage-appointment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
				<div class="modal-body">
					<h3 class="title">管理预约</h3>
					<form  enctype="multipart/form-data" style="text-align: center;" method="POST" >
						<label>宠物名字</label>
						<select name='pet_id'>
								{%for p in pets%}
									<option value="{{p.id}}"  >{{p.petsname}}</option>
								{%endfor%}
						</select>

						<br><label>医生</label>
						<select name='doctor_id'>
								{%for d in doctors%}
									<option value="{{d.id}}"  >{{d.username}}</option>
								{%endfor%}
						</select>
						<br><label>紧急程度</label>
						<select name='emergency_level'>
								<option value="0"  >紧急</option>
								<option value="1"  >重要</option>
								<option value="2"  selected='selected'>普通</option>
						</select>
						
						<br><label>医院</label>
						<select name='hospital'>
								<option value="0"  selected='selected'>北京</option>
								<option value="1"  >上海</option>
								<option value="2"  >广州</option>
						</select>
	
						<br><label>Status</label>
						<select name='status'>
								<option value="0"  >未确认</option>
								<option value="1"  >已确认</option>
								<option value="2"  >手术队列</option>
								<option value="3"  >手术完成</option>
								<option value="4"  selected='selected'>等待释放</option>
						</select>
						
						<br><label>日期</label>
						<input name="date" type="date" />
					<p class="description"></p>
						<button name="update_appointment" value="" class="subscribe">保存</button>
					
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
		function a0(num){
			if(num<10)
				return "0"+num;
			return num;
		}

		function getT(){
			d=new Date();
			return 1900+d.getYear()+"-"+a0(1+d.getMonth())+"-"+a0(d.getDate());
		}

function prepareDelete(id){
	document.querySelector('#myModal-delete-appointment .subscribe').setAttribute('value',id);
	document.querySelector('#myModal-delete-appointment .description').textContent='appointment id is '+id;
}

function selectID(options,id){
	for(var i=0;i<options.length;i++){
		if(options[i].getAttribute('value')==id)
			options[i].setAttribute('selected','selected')
		else
			options[i].removeAttribute('selected')
	}
}

function prepareManage(id,pet,doc,appdate,priority,hospital,status){
	console.log("haha")
	document.querySelector('#myModal-manage-appointment .subscribe').setAttribute('value',id);
	inputs=document.querySelectorAll('#myModal-manage-appointment input')
	//inputs[0].setAttribute('value',pet)
	selectID(document.querySelectorAll('#myModal-manage-appointment select[name="pet_id"] option'),pet)

	selectID(document.querySelectorAll('#myModal-manage-appointment select[name="doctor_id"] option'),doc)
	selectID(document.querySelectorAll('#myModal-manage-appointment select[name="emergency_level"] option'),priority)
	selectID(document.querySelectorAll('#myModal-manage-appointment select[name="hospital"] option'),hospital)
	selectID(document.querySelectorAll('#myModal-manage-appointment select[name="status"] option'),status)

	inputs=document.querySelectorAll('#myModal-manage-appointment input')

	document.querySelector('#myModal-manage-appointment input[name="date"]').setAttribute('value',appdate);


	document.querySelector('#myModal-manage-appointment .description').textContent='appointment id is '+id;
	console.log(document.querySelector('#myModal-manage-appointment .subscribe'));

}
</script>


<div class="modal-box">
	<!-- Modal -->
<div class="modal fade" id="myModal-add-appointment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
			<div class="modal-body">
				<h3 class="title">新建预约</h3>
				<form  enctype="multipart/form-data" style="text-align: center;" method="POST" >
					<label>宠物名字</label>
					<select name='pet_id'>
							{%for p in pets%}
								<option value="{{p.id}}"  >{{p.petsname}}</option>
							{%endfor%}
					</select>

					<br><label>医生</label>
					<select name='doctor_id'>
							{%for d in doctors%}
								<option value="{{d.id}}"  >{{d.username}}</option>
							{%endfor%}
					</select>
					<br><label>紧急度</label>
					<select name='emergency_level'>
							<option value="0"  >紧急</option>
							<option value="1"  >重要</option>
							<option value="2"  selected='selected'>普通</option>
					</select>
					
					<br><label>医院</label>
					<select name='hospital'>
							<option value="0"  selected='selected'>北京</option>
							<option value="1"  >上海</option>
							<option value="2"  >广州</option>
					</select>

					<br><label>Status</label>
					<select name='status'>
							<option value="0"  >未确认</option>
					</select>
					
					<br><label>日期</label>
					<input name="date" type="date" />
				<p class="description"></p>
					<button name="submit" value="add" class="subscribe">添加</button>
				
				</form>
			</div>
		</div>
	</div>
</div>
</div>

<div class="modal-box">
		<!-- Modal -->
	<div class="modal fade" id="myModal-check-appointment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
				<div class="modal-body">
					<h3 class="title">选择日期</h3>
						<h5>日期</h5><input class="check-date" type="date" />
					<p class="description"></p>
						<button onclick="location.replace('/appointment/date/'+document.querySelector('.check-date').value)" class="subscribe">看看</button>
					
				</div>
			</div>
		</div>
	</div>
	</div>

</body>
{% endblock content %}