<style>
    table
{
animation:mymove 0.5s;
-webkit-animation:mymove 0.5s; /*Safari and Chrome*/
}


@keyframes mymove
{
from {transform: rotateY(90deg);}
to {transform: rotateY(0deg);}
}

@-webkit-keyframes mymove /*Safari and Chrome*/
{
from {transform: rotateY(90deg);}
to {transform: rotateY(0deg);}
}

</style>
    

<body style="
	overflow-x: hidden;
	background: #50a3a2;
	background: linear-gradient(135deg, rgb(165, 155, 224) 0%, rgba(242,147,113,1) 100%) no-repeat center center;
    background-attachment: fixed;"><br>

<style>
    th{
        text-align:center;
    }
</style>
<div style="height:500px;overflow:auto; padding:0px;">
<table class="table" style="margin:auto; text-align:center;">

	<thead>
		<tr>
			<td>宠物</td>
			<td>照片</td>
			<td>医生</td>
			<td>头像</td>
            <td>紧急程度</td>
            <td>健康</td>
            <td>优先级</td>
            <td>医院</td>
            <td>状态</td>
			<td>日期</td>
			<td>时间</td>
		</tr>
	</thead>
	<tbody>
	{# active success warning danger #}

	{%for a in apppointments%}
	{%with p=get_pet(a.pet)%}
		<tr class="active">
			<td>{{a.pet}}</td>
			<td><img src='/icon/{{rand}}/pet_icon_{{a.pet}}.jpg' 
				onerror="onerror=null;src='/img/t2.png'" width="50px" height="50px"></td>

				{%with doc=get_user(a.doctor)%}
				<td>{{doc.username}}</td>
				<td><img src="/icon/{{rand}}/{{doc.username}}.jpg" onerror="onerror=null;src='/img/t2.png'" width="50px" height="50px" style="border-radius:10px;"></td>
				{%endwith%}
				<td style="color:{{['red','pink','black'][a.priority]}}">{{['紧急','重要','普通'][a.priority]}}</td>
				<td style="color:{{['red','black','green'][p.health]}}">{{['糟糕','未知','完美'][p.health]}}</td>
				<td>{{a.priority*3+p.health}}</td>
                <td>{{['北京','上海','广州'][a.hospital]}}</td>
                <td>{{["未确认","已确认","手术队列","手术完成","等待释放"][a.status]}}</td>
			<td>{{a.date}}</td>
            
            <td>
            {%if a.date%}
            {{a.time+9}}:00-{{a.time+10}}:00
            {%endif%}</td>
		</tr>
		{%endwith%}
	{%endfor%}
	</tbody>
</table>
</div>

<script>
		function a0(num){
			if(num<10)
				return "0"+num;
			return num;
		}

		function getT(){
			d=new Date();
			return 1900+d.getYear()+"-"+a0(1+d.getMonth())+"-"+a0(d.getDate());
		}

</script>
</body>