{% extends "/cn/base.html" %}

{% block content %}
<title>医生</title>

<body>
            <br>

            <div id="timeLine">

                    <div id="cList">
                        <a id="btnLeft" href='javascript:void(0)'>&lt;</a>
                        <div style="width: 850px;margin: 0 auto; overflow: hidden">
                                <ul id="cUl" style="left: 0px;">
                                        
                                        {%for u in users%}

                                        <li >
                                            <span class="li-tit">{{u.username}}</span>
                                            <div class="container-li" style="height: 300px;overflow-y: auto;overflow-x:hidden;">
                                                <div class="c-li-left">
                                                    <img src="/icon/{{rand}}/{{u.username}}.jpg" onerror="onerror=null;src='/img/t2.png'" width="200px" height="200px" style="border-radius:10px;">
                                                </div>
                                                <div class="c-li-right">
                                                    <p>用户名: {{u.username}} </p>
                                                    <p>邮箱地址: {{u.email}} </p>
                                                    <p>生日: {{u.dateOfBirth}} </p>
                                                    <p>性别: {%if u.isMale%} male ♂ {%else%} female ♀ {%endif%}</p>
                                                    <p>预约数量: {{count_doc_appointment(u.id)}}</p>


                                                    <div class="special-buttons">
                                                        <div class="btn" onclick="init_doc('{{u.username}}')"><span class="circle" style="z-index: 0;"></span><span class="text">概览</span></div>
                                                        <div class="btn" onclick="init_chat('{{u.username}}')"><span class="circle" style="z-index: 0;"></span><span class="text">聊天</span></div>
                                                        <div class="btn" onclick="location.replace('/appointment/doctor/{{u.id}}')"><span class="circle" style="z-index: 0;"></span><span class="text">预约</span></div>
                                                    
                                                        <!-- <div class="btn" onclick=""><span class="circle" style="z-index: 0;"></span><span class="text">Comment</span></div> -->
                                                    </div>
<form action="/comment/{{u.username}}" method='post'>
<input name='content'>
<button>评论</button><br>
{%for c in getChat('commentor',u.username)%}                               

<span>{{c.date}} : {{c.content}}</span>
<button name='delid' value='{{c.id}}'>删除</button>

<button name='updateid' value='{{c.id}}'>修改</button>

<br>
{%endfor%}
</form>                
                                                </div>
                                            </div>
                                        </li>

                                        {%endfor%}
                                       
                                    </ul>
                        </div>
                
                        <a id="btnRight" href='javascript:void(0)'>&gt;</a>
                    </div>
                        <ul id="yearList" style="left: 0px;">
                         {%for i in range(users|length)%}
                            <li {%if i==0%} class="year-active"  {%endif%} >{{users[i].username}}<i class="year-dot"></i></li>
                        {%endfor%}
                    </ul>
                    <div class="dotted-line"></div>
                </div>
                


</body>
{% endblock content %}