html,body,div,p,span,h1,h2,h3,h4,h5,h6,input,textarea,button,img,a,i,
table,tbody,thead,ul,ol,li,dl,dt,dd,header,nav,section,aside,footer,address{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 100%;
    font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", "FontAwesome", sans-serif;
}
/* 清除浮动 */
.clear::after{
    content: '';
    visibility: hidden;
    height: 0;
    display: block;
    clear: both;
}
/* a */
a{
    color: #2fa0ec;
    text-decoration: none;
    outline: none;
}
a:hover,
a:focus{
    color: #74777b;
}
/* ul */
ul{
    list-style: none;
}

