body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color:white ;
    background-size: cover;
}
.wrapper{
    width: 1500px;
    margin: auto;
}

.footer{
    width:100%;
    margin-top: 5px;
    text-align: center;
    border-top: aqua 1px dashed;
}
.line1{
    text-align: center;
}
.pet_inf1{
    border: 30px solid transparent;
    width: 400px;
    height: 200px;
    display: inline-block;
}
.pet_text{
    float: right;
}
.pet_text h2{
    color: blue;
}
.pet_text span{
    color: black;
}
