body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color:white ;
    background-size: cover;
}
.wrapper{
    width: 1500px;
    margin: auto;
}
.footer{
    width:100%;
    margin-top: 5px;
    text-align: center;
    border-top: aqua 1px dashed;
}
.line1{
    text-align: center;

}
.my_inf{
    width: 400px;
    height: 800px;
    float: right;
    border: 1px solid black;
    background-color: rgba(179,179,179,0.21);
}
.date{
    width: 1500px;
    height: 800px;

}
.head_p{
    width: 400px;
    height: 200px;

}
.head_p_text{
    width: 190px;
    height: 200px;
    float: right;

}
.my_inf a{
    margin: auto;
    color: black;
    font-size: 30px;
    text-decoration: none;
}
.button{
    width: 400px;
    height: 50px;
    text-align: center;
}
.head_p_text h2{
    color: blue;
}
.head_p_text span{
    color: black;
}
.date1{
    float: left;
    height: 205px;
    width: 1050px;
}
.fake{
    width: 450px;
    height: 200px;
    float: left;
}
.data1_text{
    float: right;
}
.doctor{
    float: right;
}
.fake1{
    float: left;
    width: 1050px;
}
.data1_text h2{
    color: blue;
}
.data1_text span{
    color: black;
}
