{% extends "logo.html" %}

{% block header %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>分院位置</title>
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/style_locations.css" >
</head>
<body>
<div class="wrapper">
{% endblock %}
{% block footer %}
    <div class="sub_hospital">
            <img src="img/beijing_h.jpg" ,width="300px" height="300px">
            <br>
            <h4>Beijing Healing Paws General Hospital</h4>
            <h3>location:<span>Beijing ChaoYang 100</span></h3>
            <h3>Number of doctor:<span>5</span></h3>
            <p>Information:<span>Beijing general hospital has the most powerful team of doctors and the most cutting-edge medical equipment and the best service attitude.It will make your pet sad when he comes and peaceful when he goes.<br>北京总院有着最强大的医生团队，最尖端的医疗设备和最优质的服务态度.会让您的宠物来的时候很伤心，走的时候很安详。</span></p>
</div>
         <div class="sub_hospital">
            <img src="img/shanghai_h.jpg" ,width="300px" height="300px">
            <br>
            <h4>Shanghai branch of Healing Paws Hospital</h4>
            <h3>location:<span>Shanghai PuDong 100</span></h3>
            <h3>Number of doctor:<span>500</span></h3>
            <p>Information:<span>Shanghai Branch has unique geographical advantages. Because of its coastal area, our hospital can not only treat ordinary pets, but also treat pets like dolphins, hippos, seals, penguins and polar bears.<br>上海分院有着独特的地理优势。因为这个分院它靠近海边，所以我们不仅能收治普通的宠物，还能够治疗像海豚，河马，海豹，企鹅，北极熊这样的宠物。并且配备了很多医疗人员去照顾它们。</span></p>
</div>
         <div class="sub_hospital">
            <img src="img/chengdu_h.jpg" ,width="300px" height="300px">
            <br>
            <h4>Chengdu branch of Healing Paws Hospital</h4>
            <h3>location:<span>Chengdu QingYang 100</span></h3>
            <h3>Number of doctor:<span>60</span></h3>
            <p>Information:<span>This hospital is in mountain city of Chengdu, so we can not only treat pets, but also provide free Panda babies for owners who come to treat their pets. And provide a free hotpot base for every pet who has undergone sterilization.<br>这所医院在山城成都，所以我们不仅能够治疗宠物，还有免费的熊猫宝宝可供前来治疗自己宠物的主人们观赏。并且为每一个做完绝育手术的宠物提供免费的火锅底料。</span></p>
</div>
     <div class="footer">
        <div class="line1"><a style="font-size: 20px" href="#">返回首页</a>  |  <a style="font-size: 20px" href="#">在线服务</a></div>
    </div>

</div>

</body>
</html>
{% endblock %}