{% extends "logo.html" %}

{% block header %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>医院介绍</title>
        <link rel="stylesheet" href="css/base.css">
        <link rel="stylesheet" href="css/style_about_us.css">
    </head>
    <body>
    <div class="wrapper">
{% endblock %}

{% block footer %}
    {% if hospital %}
        <div class="middle-left" style="width: 60%; float: left">
            {% for intro in hospital.introduction %}
                <h2>{{ intro }}</h2>
            {% endfor %}
        </div>
        <img src={{ hospital.pic_address }} , style="width: 40%; height: auto; float: right">
    {% endif %}
    </div>
    <div class="footer">
        <div class="line1"><a style="font-size: 20px" href="#">返回首页</a> | <a style="font-size: 20px" href="#">在线服务</a>
        </div>
    </div>

    </div>
    </body>
    </html>
{% endblock %}
