{% extends "logo.html" %}

{% block header %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>医院介绍</title>
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/style_about_us.css">
</head>
<body>
<div class="wrapper">
{% endblock %}

{% block footer %}
    <div class="middle">
        <div class="text"><h2>The new system will allow customers to make appointments for their pets online, and allow
employees of Healing Paws to organize, prioritize, and keep track of appointments. Healing Paws has
        three locations: Beijing, Shanghai and Chengdu.</h2>
    <h2>
The solution must be cloud-based, and work on mobile as well as PCs. Healing Paws main concerns
        are the following:</h2>
    <h2>
• Ability for customers to make appointments for their pets. There are two appointment types:
emergency and standard. These will need to be handled by Healing Paws employees
accordingly. It should be possible for one customer to make appointments for multiple pets if
        possible.</h2>
    <h2>
• Ability for customers to see the status of their pets for serious cases when required. For
        instance, surgery date confirmed, surgery complete, pet ready for release, etc.</h2>
    <h2>• Ability for employees to organize, prioritize and keep track of pets in the system</h2>
    <h2>• Ability for customers to ask questions and for employees to answer them.</h2>
<h2>• The system should have two portals – one for customers and one for employees.</h2>
</div>
            <img src="img/timg.jpg" ,width="600px" height="600px">
</div>
     <div class="footer">
        <div class="line1"><a style="font-size: 20px" href="#">返回首页</a>  |  <a style="font-size: 20px" href="#">在线服务</a></div>
    </div>

</div>
</body>
</html>
{% endblock %}