{% extends "base.html" %}

{% block content %}

<style>
    table
{
animation:mymove 0.5s;
-webkit-animation:mymove 0.5s; /*Safari and Chrome*/
}


@keyframes mymove
{
from {transform: rotateY(90deg);}
to {transform: rotateY(0deg);}
}

@-webkit-keyframes mymove /*Safari and Chrome*/
{
from {transform: rotateY(90deg);}
to {transform: rotateY(0deg);}
}

</style>

 <style>
    .submit_button{
      position: relative;
      appearance: none;
      background: #f72359;
      padding: 1em 2em;
      border: none;
      color: white;
      font-size: 0.8em;
      cursor: pointer;
      outline: none;
      overflow: hidden;
      border-radius: 100px;
    }
    .submit_button::before {
    --size: 0;

    content: '';
    position: absolute;
    left: var(--x);
    top: var(--y);
    width: var(--size);
    height: var(--size);
    background: radial-gradient(circle closest-side, #4405f7, transparent);
    transform: translate(-50%, -50%);
    transition: width .2s ease, height .2s ease;
  }

  .submit_button:hover::before {
    --size: 400px;
  }
  </style>

<script>
  var oButton = document.querySelector('.submit_button');
  oButton.onmousemove = (e) => {
    const x = e.pageX - e.target.offsetLeft
    const y = e.pageY - e.target.offsetTop
    e.target.style.setProperty('--x', `${x}px`)
    e.target.style.setProperty('--y', `${y}px`)
  }


</script>
<body style="
	overflow-x: hidden;
    width:100vw;
    height:100vh;
    background-attachment: fixed;">
            <br>

<style>
    th{
        text-align:center;
    }
</style>
<link rel="stylesheet" type="text/css" href="/css/litewebchat.min.css" />

<table class="table" style="width:1200px;margin:auto; text-align:center;">
	<caption><div class="special-buttons">
        <div class="btn" data-toggle="modal" data-target="#myModal-add-question"><span class="circle" style="z-index: 0;"></span><span class="text">Add Question</span></div> </div></caption>
	<thead>
		<tr>
			<td>Chat</td>
		</tr>
	</thead>
	<tbody>

    <!-- 主容器 -->
    <!-- 这次假定一个人只能开一个question -->
    <tr>
        <td id="q_1" class="question">
            <div class="lite-chatbox">
                {%for reply in replies%}
				{% if username == reply[1] %}
                <div class="cright cmsg">
                    <img class="headIcon radius" ondragstart="return false;"  oncontextmenu="return false;"  src="/static/user-img/{{username}}.jpg" />
                    <span class="name">{{reply[1]}}</span>
                    <span class="content">{{reply[2]}}</span>
                </div>
				{% else %}
                 <div class="cleft cmsg">
                    <img class="headIcon radius" ondragstart="return false;"  oncontextmenu="return false;"  src="/static/user-img/{{reply[1]}}.jpg" />
                    <span class="name">{{reply[1]}}</span>
                    <span class="content">{{reply[2]}}</span>
                </div>
                {% endif%}
                {% endfor %}
            </div>
            <br>
            <input type="text" class="form-control" placeholder="input a some reply" value="" style="width: 80%; text-align: center;"/>
            <button class="submit_button" >Submit</button>
            <br>
        </td>
    </tr>
    {# active success warning danger #}

	{%for r in pets%}
		<tr class="{{['danger','active','success'][p.health]}}">
			<td>{{p.id}}</td>
			<td>{{p.petsname}}</td>
			<td><img src="/pet-img/pet_{{p.id}}.jpg" onerror="onerror=null;src='/img/t2.png'" width="50px" height="50px" style="border-radius:10px;"></td>
			<td>{{p.birthDay}}</td>
			<td>{{['bad','unknown','perfect'][p.health]}}</td>
			<td>not set</td>
			<td> <div class="special-buttons">
                       <div class="btn" onclick="prepareDelete('{{p.id}}','{{p.petsname}}')" data-toggle="modal" data-target="#myModal-delete-pet"><span class="circle" style="z-index: 0;"></span><span class="text">Delete</span></div> </div></td>
			<td> <div class="special-buttons">
                       <div class="btn"  onclick="prepareManage('{{p.id}}','{{p.petsname}}','{{p.birthDay}}',{{p.health}})" data-toggle="modal" data-target="#myModal-manage-pet"><span class="circle" style="z-index: 0;"></span><span class="text">Manage</span></div> </div></td>
		</tr>
		{%endfor%}
	</tbody>
</table>
<script type="text/javascript" src="/js/jquery-1.10.2.min.js"></script>
<script>
    console.log("正在运行JS");
    $('.question .submit_button').click(function () {
        // let $parent_td = $(this).parent();
        parent_td = document.getElementById("q_1");
        // let q_id = parent_td.attr('id').split('_')[1];
        let q_id = 1;
        console.log("正在运行JQuery")
        // let new_content = parent_td.children('input').val();
        let new_content =  parent_td.querySelector("input").value;
        console.log("输入的聊天信息"+new_content);
        $.ajax({
            url: '/customer_question',
            type: 'POST',
            data: {"q_id": q_id,"type": "reply", "content": new_content},
            success:function (content) {
                console.log("服务器传回的信息"+new_content);
                // let $new_reply = $('<div></div>');
                let new_reply = document.createElement("div");
                new_reply.setAttribute('class','cright cmsg');
                let img = document.createElement("img");

                // ondragstart="return false;"  oncontextmenu="return false;"  src="/img/t2.png"
                img.setAttribute('class','headIcon radius');
                img.setAttribute('ondragstart','return false;');
                img.setAttribute('oncontextmenu','return false;');
                img.setAttribute('src','/img/t2.png');
                let name = document.createElement("div");
                name.setAttribute('class', 'name');
                name.textContent = '{{username}}';
                let content_node = document.createElement("div");
                content_node.setAttribute('class','content');
                content_node.textContent = new_content;
                new_reply.appendChild(img);
                new_reply.appendChild(name);
                new_reply.appendChild(content_node);
                let chat_box = parent_td.getElementsByClassName('lite-chatbox')[0];
                chat_box.appendChild(new_reply);
                console.log(new_reply)
            },
            error:function(){

            }
        });
    });
	// function prepareDelete(id,name){
	// 	document.querySelector('#myModal-delete-pet .subscribe').setAttribute('value',id);
	// 	document.querySelector('#myModal-delete-pet .description').textContent='pet name is '+name;
	// }
	// function prepareManage(id,name,birth,healthy){
	// 	inputs=document.querySelectorAll('#myModal-manage-pet input')
	// 	inputs[0].setAttribute('value',name)
	// 	inputs[2].setAttribute('value',birth)
	// 	options=document.querySelectorAll('#myModal-manage-pet option')
	// 	options[healthy].setAttribute('selected','selected')
	// 	document.querySelector('#myModal-manage-pet .subscribe').setAttribute('value',id)
	// }
</script>


<div class="modal-box">
    	<!-- Modal -->
	<div class="modal fade" id="myModal-add-question" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
				<div class="modal-body">
					<h3 class="title">new pet</h3>
					<form  enctype="multipart/form-data" style="text-align: center;" method="POST" >
						<h5>Title</h5><input name="question_title"/><br>
					<p class="description"></p>
						<button name="submit" value="add" class="subscribe">Add</button>

					</form>
				</div>
            </div>
		</div>
	</div>
</div>

</body>
{% endblock content %}