{% extends "logo.html" %}

{% block header %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>医生信息</title>
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/style_Doctor_inf.css" >
</head>
<body>
<div class="wrapper">
{% endblock %}

{% block footer %}

<div class="head_por">
    <img src="img/timg.jpg" alt="张三" width="300" height="300"/>
    <br>
    <h2>医生姓名：<span>张三</span></h2>
    <h2>ID：<span>123666</span></h2>
    <h2>phone:<span>12345678999</span></h2>
<p>该医生从业20年来致力于治好每一个宠物，但未能得偿所愿，他毕生的梦想就是能成功一次！</p>


</div>
<div class="head_por">
    <img src="img/timg.jpg" alt="张三" width="300" height="300"/>
    <br>
    <h2>医生姓名：<span>张三</span></h2>
    <h2>ID：<span>123666</span></h2>
    <h2>phone:<span>12345678999</span></h2>
<p>该医生从业20年来致力于治好每一个宠物，但未能得偿所愿，他毕生的梦想就是能成功一次！</p>


</div>
<div class="head_por">
    <img src="img/timg.jpg" alt="张三" width="300" height="300"/>
    <br>
    <h2>医生姓名：<span>张三</span></h2>
    <h2>ID：<span>123666</span></h2>
    <h2>phone:<span>12345678999</span></h2>
<p>该医生从业20年来致力于治好每一个宠物，但未能得偿所愿，他毕生的梦想就是能成功一次！</p>


</div>
<div class="head_por">
    <img src="img/timg.jpg" alt="张三" width="300" height="300"/>
    <br>
    <h2>医生姓名：<span>张三</span></h2>
    <h2>ID：<span>123666</span></h2>
    <h2>phone:<span>12345678999</span></h2>
<p>该医生从业20年来致力于治好每一个宠物，但未能得偿所愿，他毕生的梦想就是能成功一次！</p>


</div>
    <div class="footer">
        <div class="line1"><a style="font-size: 20px" href="#">返回首页</a>  |  <a style="font-size: 20px" href="#">在线服务</a></div>
    </div>
</div>
</body>
</html>

{% endblock %}