{% extends "base.html" %}

{% block content %}
<title>Doctors</title>

<body>
            <br>

            <div id="timeLine">

                    <div id="cList">
                        <a id="btnLeft" href='javascript:void(0)'>&lt;</a>
                        <div style="width: 850px;margin: 0 auto; overflow: hidden">
                                <ul id="cUl" style="left: 0px;">
                                        
                                        {%for u in users%}

                                        <li >
                                            <span class="li-tit">{{u.username}}</span>
                                            <div class="container-li">
                                                <div class="c-li-left">
                                                    <img src="/icon/{{rand}}/{{u.username}}.jpg" onerror="onerror=null;src='/img/t2.png'" width="200px" height="200px" style="border-radius:10px;">
                                                </div>
                                                <div class="c-li-right">
                                                    <p>username: {{u.username}} </p>
                                                    <p>e-mail: {{u.email}} </p>
                                                    <p>birthday: {{u.dateOfBirth}} </p>
                                                    <p>gender: {%if u.isMale%} male ♂ {%else%} female ♀ {%endif%}</p>
                                                    <p>Appointments: {{count_doc_appointment(u.id)}}</p>


                                                    <div class="special-buttons">
                                                        <div class="btn" onclick="init_doc('{{u.username}}')"><span class="circle" style="z-index: 0;"></span><span class="text">Overview</span></div>
                                                        <div class="btn" onclick="init_chat('{{u.username}}')"><span class="circle" style="z-index: 0;"></span><span class="text">Chat</span></div>
                                                        <div class="btn" onclick="location.replace('/appointment/doctor/{{u.id}}')"><span class="circle" style="z-index: 0;"></span><span class="text">Appointment</span></div>
                                                        
                                                        <!-- <div class="btn" onclick=""><span class="circle" style="z-index: 0;"></span><span class="text">Comment</span></div> -->
                                                    </div>
                                                </div>
                                            </div>
                                        </li>

                                        {%endfor%}
                                       
                                    </ul>
                        </div>
                
                        <a id="btnRight" href='javascript:void(0)'>&gt;</a>
                    </div>
                        <ul id="yearList" style="left: 0px;">
                         {%for i in range(users|length)%}
                            <li {%if i==0%} class="year-active"  {%endif%} >{{users[i].username}}<i class="year-dot"></i></li>
                        {%endfor%}
                    </ul>
                    <div class="dotted-line"></div>
                </div>
                


</body>
{% endblock content %}