<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>{% extends "employee_base.html" %}

{% block content %}

<style>
	table
{
animation:mymove 0.5s;
-webkit-animation:mymove 0.5s; /*Safari and Chrome*/
}


@keyframes mymove
{
from {transform: rotateY(90deg);}
to {transform: rotateY(0deg);}
}

@-webkit-keyframes mymove /*Safari and Chrome*/
{
from {transform: rotateY(90deg);}
to {transform: rotateY(0deg);}
}

</style>


<body style="
	overflow-x: hidden;
	background: #50a3a2;
	background: linear-gradient(135deg, rgb(165, 155, 224) 0%, rgba(242,147,113,1) 100%) no-repeat center center;
    width:100vw;
    height:100vh;
    background-attachment: fixed;"><br>

<style>
    th{
        text-align:center;
    }
</style>

<script>
	console.log("JS运行中")
</script>

<table class="table" style="width:500px;margin:auto; text-align:center;">
	<caption><div class="special-buttons">
                       <div class="btn" data-toggle="modal" data-target="#myModal-add-appointment"><span class="circle" style="z-index: 0;"></span><span class="text">Add</span></div> </div></caption>
	<thead>
		<tr>
            <td>Appointment id</td>
            <td>User id</td>
            <td>User name</td>
            <td>Pet id</td>
			<td>Pet name</td>
			<td>pet photo</td>
            <td>Doctor id</td>
			<td>Doctor name</td>
			<td>Date</td>
            <td>Time Slot</td>
            <td>Status</td>
            <td>Description</td>
			<td>Delete</td>
			<td>Manage</td>
		</tr>
	</thead>
	<tbody>
	{# active success warning danger #}
	{% for a in appointments%}
		<tr class="active" id="a{{a[0]}}">
			<td id="a_id">{{a[0]}}</td>
            <td>{{a[1]}}</td>
            <td>{{a[2]}}</td>
            <td>{{a[3]}}</td>
            <td>{{a[4]}}</td>
			{% if a[4] == 'dog'%}
			<td><img src="/pet-img/pet_{{a[3]}}.jpg" onerror="onerror=null;src='/img/dog.jpg'" width="50px" height="50px" style="border-radius:10px;"></td>
			{%elif a[4] =='cat'%}
			<td><img src="/pet-img/pet_{{a[3]}}.jpg" onerror="onerror=null;src='/img/cat.jpg'" width="50px" height="50px" style="border-radius:10px;"></td>
			{%else%}
			<td><img src="/pet-img/pet_{{a[3]}}.jpg" onerror="onerror=null;src='/img/t2.png'" width="50px" height="50px" style="border-radius:10px;"></td>
			{%endif%}
            <td>{{a[5]}}</td>
            <td>{{a[6]}}</td>
			<td>{{a[7]}}</td>
			<td>{{a[8]}}</td>
            <td>{{a[9]}}</td>
            <td>{{a[10]}}</td>
			<td> <div class="special-buttons">
                       <div class="btn" onclick="prepareDelete({{a[0]}})" data-toggle="modal" data-target="#myModal-delete-appointment"><span class="circle" style="z-index: 0;"></span><span class="text">Delete</span></div> </div></td>
			<td> <div class="special-buttons">
					<div class="btn" onclick="prepareManage({{a[0]}},'{{a[7]}}',{{a[9]}})" data-toggle="modal" data-target="#myModal-manage-appointment"><span class="circle" style="z-index: 0;"></span><span class="text">Manage</span>
					</div>
				</div>
			</td>
		</tr>
	{%endfor%}
	</tbody>
</table>

<div class="modal-box">
	<!-- Modal -->
<div class="modal fade" id="myModal-delete-appointment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
			<div class="modal-body">
				<div class="icon"> ! </div>
				<h3 class="title">Delete this Appointment?</h3>
				<form method="POST">
				<p class="description">pet name is null</p>
				<button name='delete_appointment' class="subscribe">Delete</button>
				</form>
			</div>
		</div>
	</div>
</div>
</div>


<div class="modal-box">
	<!-- Modal -->
	<div class="modal fade" id="myModal-manage-appointment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
				<div class="modal-body">
					<h3 class="title">new pet</h3>
					<form  enctype="multipart/form-data" style="text-align: center;" method="POST" >
						<h5>Select doctor</h5>
							<select name="doctor_id">
								<option value="" selected="true">Please Select</option>
								{% if doctors_list %}
								{% for d in doctors_list %}
								<option value="{{d[0]}}">{{d[1]}}</option>
								{% endfor %}
								{% endif %}
							</select>
						<h5>date</h5><input name="date" type="date"/>
						<h5>Time Slot</h5>
							<select name="time_slot">
								<option value="" selected="true">Please Select</option>
								<option value="9:00 - 10:00">9:00 - 10:00</option>
								<option value="10:00 - 11:00">10:00 - 11:00</option>
								<option value="13:00 - 14:00">13:00 - 14:00</option>
								<option value="14:00 - 15:00">14:00 - 15:00</option>
								<option value="15:00 - 16:00">15:00 - 16:00</option>
								<option value="16:00 - 17:00">16:00 - 17:00</option>
							</select>
						<h5>Status</h5>
							<select name="status">
								<option value="0">Unchecked</option>
								<option value="1">Checked</option>
							</select>
					<p class="description"></p>
						<button name="update_appointment" value="" class="subscribe">Save</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
function prepareDelete(id){
	document.querySelector('#myModal-delete-appointment .subscribe').setAttribute('value',id);
	document.querySelector('#myModal-delete-appointment .description').textContent='appointment id is '+id;
}
function prepareManage(a_id, date1,status){
    console.log("Manage");
	console.log(date1);
	let a_date = document.querySelector('#myModal-manage-appointment input');
	let selects = document.querySelectorAll("#myModal-manage-appointment select");
	let opts = selects[1].querySelectorAll("option")
	if(status == 1)
	    // 将status设置为check
	    opts[1].setAttribute('selected','selected');
	else
	    opts[0].setAttribute('selected','selected');
	console.log("id: "+a_id)
	console.log("date: " +  date1)
	console.log("status: " + status)
	a_date.setAttribute('value', date1)
	document.querySelector('#myModal-manage-appointment .description').textContent='appointment id is '+a_id;
	document.querySelector('#myModal-manage-appointment .subscribe').setAttribute('value',a_id)
}
</script>


<div class="modal-box">
	<!-- Modal -->
<div class="modal fade" id="myModal-add-appointment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
			<div class="modal-body">
				<h3 class="title">New Appointment</h3>
				<form  enctype="multipart/form-data" style="text-align: center;" method="POST" >
					<h5>Select your pet</h5>
					<select name='pet_id'>
                            {% if pets_list %}
							{% for p in pets_list %}
							<option value='{{ p[0] }}'>{{ p[1] }}</option>
							{% endfor %}
							{% endif %}
                    </select>
					<h5>Select doctor</h5>
					<select name="doctor_id">
						{% if doctors_list %}
						{% for d in doctors_list %}
						<option value="{{d[0]}}">{{d[1]}}</option>
						{% endfor %}
						{% endif %}
					</select>
					<br>
					<h5>date</h5><input name="date" type="date" />
					<h5>Emergency</h5>
					 <select name='emergency'>
                            <option value="0" selected="selected">Normal</option>
                            <option value="1" >Urgent</option>
                    </select>
					<h5>Description</h5><input name="description" value="Empty"/><br>
					<p class="description"></p>
					<button name="submit" value="add" class="subscribe">Add</button>

				</form>
			</div>
		</div>
	</div>
</div>
</div>

</body>
{% endblock content %}
</html>