{% extends "base.html" %}

{% block content %}

<body>
            <br>

            <div id="timeLine">

                
                    <div id="cList">
                        <a id="btnLeft" href='javascript:void(0)'>&lt;</a>
                        <div style="width: 850px;margin: 0 auto; overflow: hidden">
                                <ul id="cUl" style="left: 0px;">
                                        <li style="left: 0px;">
                                            <span class="li-tit">1</span>
                                            <div class="container-li">
                                                <div class="c-li-left">
                                                    <img src="/img/t2.png" alt="">
                                                </div>
                                                <div class="c-li-right">
                                                    <p>title 1 </p><p>
                                                    </p><p>content 1 </p>
                                                </div>
                                            </div>
                                        </li>
                                        <li style="left: 850px;">
                                            <span class="li-tit">2</span>
                                            <div class="container-li">
                                                <div class="c-li-left">
                                                    <img src="/img/t2.png" alt="">
                                                </div>
                                                <div class="c-li-right">
                                                    <p>title 2</p><p>
                                                    </p><p>content 2</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li style="left: 1700px;">
                                            <span class="li-tit">3</span>
                                            <div class="container-li">
                                                <div class="c-li-left">
                                                    <img src="/img/t2.png" alt="">
                                                </div>
                                                <div class="c-li-right">
                                                    <p>title 3</p><p>
                                                    </p><p>content 3</p>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                        </div>
                
                        <a id="btnRight" href='javascript:void(0)'>&gt;</a>
                    </div>
                                        <ul id="yearList" style="left: 0px;">
                        <li class="year-active">Hospital Bei Jing<i class="year-dot"></i></li>
                        <li >Hospital Shang Hai<i class="year-dot"></i></li>
                        <li >Hospital Guang Zhou<i class="year-dot"></i></li>
                    </ul>
                    <div class="dotted-line"></div>
                </div>
                

</body>
{% endblock content %}