{% extends "logo.html" %}

{% block header %}

    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>分院位置</title>
        <link rel="stylesheet" href="css/base.css">
        <link rel="stylesheet" href="css/style_locations.css">
    </head>
    <body>
    <div class="wrapper">
{% endblock %}
{% block footer %}
    {% for branch in branches %}
{#        {% if loop.index is odd %}#}
            <div class="container" style="width: 40%; height: auto">
                <img src={{ branch.pic_address }} , style="width: 90%; height: auto; align-content: center">
                <h2 style="align-content: center">{{ branch.name }}</h2>
                <h3 style="align-content: center">{{ branch.address }}</h3>
                <p>{{ branch.introduction }}</p>
            </div>
{#        {% else %}#}
{#            <div class="container" style="width: 40%; height: auto">#}
{#                <img src={{ branch.pic_address }} , style="width: 90%; height: auto; align-content: center">#}
{#                <h2 style="align-content: center">{{ branch.name }}</h2>#}
{#                <h3 style="align-content: center">{{ branch.address }}</h3>#}
{#                <p>{{ branch.introduction }}</p>#}
{#            </div>#}
{#        {% endif %}#}
    {% endfor %}


    </div>
    <div class="footer">
        <div class="line1"><a style="font-size: 20px" href="#">返回首页</a> | <a style="font-size: 20px" href="#">在线服务</a>
        </div>
    </div>

    </div>

    </body>
    </html>
{% endblock %}
