{% block header %}
{% endblock %}

<div class="logo">
        <img src="img/logoBIGnew.jpg" width="600" height="200"/>
    </div>

    <table  width="1500" height= "100" cellpadding="10" cellspacing="10">
    <tr>
        <th bgcolor="aqua"><a style="font-size: 30px;text-decoration:none" href="doctors" target="_self">医生列表</a>
        <th bgcolor="aqua"><a style="font-size: 30px;text-decoration:none" href="about" target="_self">医院介绍</a></th>
        <th bgcolor="aqua"><a style="font-size: 30px;text-decoration:none" href="locations" target="_self">分院位置</a></th>
        <th bgcolor="aqua"><a style="font-size: 30px;text-decoration:none" href="signup" target="_self">在线预约</a></th>
        <th bgcolor="aqua"><a style="font-size: 30px;text-decoration:none" href="admin" target="_self">管理系统</a></th>
    </tr>
</table>

{% block footer %}
{% endblock %}