{% extends "logo.html" %}

{% block header %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人空间</title>
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/style_my.css" >
</head>
<body>
<div class="wrapper">
{% endblock %}
{% block footer %}
<div class="date">
<div class="fake1">
    <div class="date1">
        <div class="fake">
            <img src="img/ungly_dog.jpg" width="200" height="200">
        <div class="data1_text">
            <h2>主治医生:<span>张三</span></h2>
            <h2>宠物姓名:<span>小站</span></h2>
            <h2>看诊时间:<span>03/03/2020</span></h2>
        </div>
        </div>
        <div class="doctor">
            <img src="img/timg.jpg" alt="张三" width="200" height="200">
        </div>


    </div>
    <div class="date1">
        <div class="fake">
            <img src="img/ungly_dog.jpg" width="200" height="200">
        <div class="data1_text">
            <h2>主治医生:<span>张三</span></h2>
            <h2>宠物姓名:<span>小站</span></h2>
            <h2>看诊时间:<span>03/03/2020</span></h2>
        </div>
        </div>
        <div class="doctor">
            <img src="img/timg.jpg" alt="张三" width="200" height="200">
        </div>


    </div>
    <div class="date1">
        <div class="fake">
            <img src="img/ungly_dog.jpg" width="200" height="200">
        <div class="data1_text">
            <h2>主治医生:<span>张三</span></h2>
            <h2>宠物姓名:<span>小站</span></h2>
            <h2>看诊时间:<span>03/03/2020</span></h2>
        </div>
        </div>
        <div class="doctor">
            <img src="img/timg.jpg" alt="张三" width="200" height="200">
        </div>


    </div>
</div>
    <div class="my_inf">
<div class="head_p">
    <img src="img/my_p.jpg" width="200" height="200">
    <div class="head_p_text">
        <h2>Username:<span>李四</span></h2>
        <h2>ID:<span>123456</span></h2>
        <h2>VIP level:<span>0</span></h2>
    </div>
</div>
        <div class="button">
            <a href="#" target="_self">就诊记录</a>
        </div>
        <div class="button">
            <a href="#" target="_self">我的钱包</a>
        </div>
        <div class="button">
            <a href="#" target="_self">我的收藏</a>
        </div>
        <div class="button">
            <a href="#" target="_self">我的宠物</a>
        </div>

</div>
</div>
<div class="footer">
        <div class="line1"><a style="font-size: 20px" href="#">返回首页</a>  |  <a style="font-size: 20px" href="#">在线服务</a></div>
</div>
</div>
</body>
</html>
{% endblock %}