{% extends "logo.html" %}

{% block header %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>宠物列表</title>
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/style_pet_inf.css" >
</head>
<body>
<div class="wrapper">
{% endblock %}
{% block footer %}
<div class="pet_inf1">
  <img src="img/ungly_dog.jpg" width="200" height="200"/>
<div class="pet_text">
    <h2>Name:<span>小战</span></h2>
    <h2>Health:<span>28/100</span></h2>
    <h2>birth:<span>02/27/2020</span></h2>
</div>
</div>
<div class="pet_inf1">
  <img src="img/ungly_dog.jpg" width="200" height="200"/>
<div class="pet_text">
    <h2>Name:<span>小战</span></h2>
    <h2>Health:<span>28/100</span></h2>
    <h2>birth:<span>02/27/2020</span></h2>
</div>
</div>
<div class="pet_inf1">
  <img src="img/ungly_dog.jpg" width="200" height="200"/>
<div class="pet_text">
    <h2>Name:<span>小战</span></h2>
    <h2>Health:<span>28/100</span></h2>
    <h2>birth:<span>02/27/2020</span></h2>
</div>
</div>
<div class="pet_inf1">
  <img src="img/ungly_dog.jpg" width="200" height="200"/>
<div class="pet_text">
    <h2>Name:<span>小战</span></h2>
    <h2>Health:<span>28/100</span></h2>
    <h2>birth:<span>02/27/2020</span></h2>
</div>
</div>
<div class="pet_inf1">
  <img src="img/ungly_dog.jpg" width="200" height="200"/>
<div class="pet_text">
    <h2>Name:<span>小战</span></h2>
    <h2>Health:<span>28/100</span></h2>
    <h2>birth:<span>02/27/2020</span></h2>
</div>
</div>
<div class="pet_inf1">
  <img src="img/ungly_dog.jpg" width="200" height="200"/>
<div class="pet_text">
    <h2>Name:<span>小战</span></h2>
    <h2>Health:<span>28/100</span></h2>
    <h2>birth:<span>02/27/2020</span></h2>
</div>
</div>
<div class="pet_inf1">
  <img src="img/ungly_dog.jpg" width="200" height="200"/>
<div class="pet_text">
    <h2>Name:<span>小战</span></h2>
    <h2>Health:<span>28/100</span></h2>
    <h2>birth:<span>02/27/2020</span></h2>
</div>
</div>
<div class="pet_inf1">
  <img src="img/ungly_dog.jpg" width="200" height="200"/>
<div class="pet_text">
    <h2>Name:<span>小战</span></h2>
    <h2>Health:<span>28/100</span></h2>
    <h2>birth:<span>02/27/2020</span></h2>
</div>
</div>
<div class="pet_inf1">
  <img src="img/ungly_dog.jpg" width="200" height="200"/>
<div class="pet_text">
    <h2>Name:<span>小战</span></h2>
    <h2>Health:<span>28/100</span></h2>
    <h2>birth:<span>02/27/2020</span></h2>
</div>
</div>
<div class="pet_inf1">
  <img src="img/ungly_dog.jpg" width="200" height="200"/>
<div class="pet_text">
    <h2>Name:<span>小战</span></h2>
    <h2>Health:<span>28/100</span></h2>
    <h2>birth:<span>02/27/2020</span></h2>
</div>
</div>
<div class="pet_inf1">
  <img src="img/ungly_dog.jpg" width="200" height="200"/>
<div class="pet_text">
    <h2>Name:<span>小战</span></h2>
    <h2>Health:<span>28/100</span></h2>
    <h2>birth:<span>02/27/2020</span></h2>
</div>
</div>
<div class="pet_inf1">
  <img src="img/ungly_dog.jpg" width="200" height="200"/>
<div class="pet_text">
    <h2>Name:<span>小战</span></h2>
    <h2>Health:<span>28/100</span></h2>
    <h2>birth:<span>02/27/2020</span></h2>
</div>
</div>
<div class="pet_inf1">
  <img src="img/ungly_dog.jpg" width="200" height="200"/>
<div class="pet_text">
    <h2>Name:<span>小战</span></h2>
    <h2>Health:<span>28/100</span></h2>
    <h2>birth:<span>02/27/2020</span></h2>
</div>
</div>
<div class="pet_inf1">
  <img src="img/ungly_dog.jpg" width="200" height="200"/>
<div class="pet_text">
    <h2>Name:<span>小战</span></h2>
    <h2>Health:<span>28/100</span></h2>
    <h2>birth:<span>02/27/2020</span></h2>
</div>
</div>
<div class="pet_inf1">
  <img src="img/ungly_dog.jpg" width="200" height="200"/>
<div class="pet_text">
    <h2>Name:<span>小战</span></h2>
    <h2>Health:<span>28/100</span></h2>
    <h2>birth:<span>02/27/2020</span></h2>
</div>
</div>

<div class="footer">
        <div class="line1"><a style="font-size: 20px" href="#">返回首页</a>  |  <a style="font-size: 20px" href="#">在线服务</a></div>
</div>
</div>
</body>
</html>
{% endblock %}