{% extends "base.html" %}

{% block content %}

<style>
    table
{
animation:mymove 0.5s;
-webkit-animation:mymove 0.5s; /*Safari and Chrome*/
}


@keyframes mymove
{
from {transform: rotateY(90deg);}
to {transform: rotateY(0deg);}
}

@-webkit-keyframes mymove /*Safari and Chrome*/
{
from {transform: rotateY(90deg);}
to {transform: rotateY(0deg);}
}

</style>
    
<script>
    function edit_form(){
        document.querySelector('.edit-table').removeAttribute('hidden')
        document.querySelector('.show-table').setAttribute('hidden','')
    }
    function display_form(){
        document.querySelector('.show-table').removeAttribute('hidden')
        document.querySelector('.edit-table').setAttribute('hidden','')
    }
</script>

<body style="
	overflow-x: hidden;
	background: #50a3a2;
	background: linear-gradient(135deg, rgb(165, 155, 224) 0%, rgba(242,147,113,1) 100%) no-repeat center center;
    width:100vw;
    height:100vh;
    background-attachment: fixed;">
            <br>

            <table class="show-table" style="text-align: center;;padding:30px;border-radius:50px; margin:auto; background-color:white">

            <tr>
                <td colspan="3"><img src="/static/user-img/{{user}}.jpg" onerror="onerror=null;src='/img/t2.png'" width="100px" height="100px" style="border-radius:10px;"></td>
            </tr>
            <tr>
                <td colspan="3"><span style="color: purple; font-size:30px">{{user.username}}</span></td>
            </tr>
            <tr>
                <td colspan="3"><label>{{user.email}}</label></td>
            </tr>
            <tr>
                <td colspan="3" style=" font-size:20px">{{user.dateOfBirth}}</td>
            </tr>
            <tr>
                {%if user.isMale%}
                    <td colspan="3" style=" font-size:20px">male</td>
                {%else%}
                    <td colspan="3" style=" font-size:20px">female</td>
                {%endif%}
            </tr>
            <tr>
                <td colspan="3" style=" font-size:20px">
                    <div class="special-buttons">
                       <div class="btn" onclick="edit_form()"><span class="circle" style="z-index: 0;"></span><span class="text">Edit</span></div>
                    </div>
                
            </tr>
            <tr>
            <td style="height: 20px;"></td>
            </tr>
            <tr>
            <td><span>pets |</span></td>
            <td><span>&nbsp;appointments |</span></td>
            <td><span>&nbsp;level</span></td>
            </tr>
            <tr>
            <td><a href="/pets">{{pets|length}} </a></td>
            <td><a href="/appointment">{{appointments|length}} </a></td>
            <td><span>user</span></td>
            </tr>


            </table>

            <table class="edit-table" style="text-align: center;;padding:30px;border-radius:50px; margin:auto; background-color:pink; " hidden="">

            <tr>
                <td colspan="3"><span style="color: purple; font-size:30px">{{user.username}}</span></td>
            </tr>

            <form method='POST' enctype="multipart/form-data" class='profile-form'>

            <tr>
            <input hidden='hidden' name='username' value='{{user.username}}'>
                <td colspan="3"><label><input style="width:8vw" type="file" name="icon"></label></td>
            </tr>
            
            <tr>
                <td colspan="3"><label><input value="{{user.email}}" name='mail'></label></td>
            </tr>
            <tr>
                <td colspan="3"><label><input type="date" name='date' value='{{user.dateOfBirth}}'></label></td>
            </tr>
            <tr>
                <td colspan="3" style=" font-size:20px">
                
                    <select name='gender'>
                        {%if user.isMale%}
                            <option value="male" selected="selected">male</option>
                            <option value="female" >female</option>
                        {%else%}
                            <option value="male" >male</option>
                            <option value="female" selected="selected">female</option>
                        {%endif%}

                    </select>
            </tr>
            <tr>
                <td colspan="3" style=" font-size:20px;">
                    <div class="special-buttons">
                       <div class="btn" onclick="document.querySelector('.profile-form').submit()"><span class="circle" style="z-index: 0;"></span><span class="text">&nbsp;&nbsp;Save&nbsp;&nbsp;</span></div>
                    </div>
                    <div class="special-buttons">
                       <div class="btn" type='submit' onclick="display_form()"><span class="circle" style="z-index: 0;"></span><span class="text">Cancel</span></div>
                    </div>
                    </td>
            </tr>

            </form>



            </table>

            <br>

            <table class="pet-table" border="1" style="text-align: center;;padding:30px;border-radius:50px; margin:auto; background-color:white">
                <tr>
                    <th colspan="5" style="text-align: center;">Over view</th>
                </tr>

                <tr>
                    <td>photo</td>
                    <td>name</td>
                    <td>birthday</td>
                    <td>healthy</td>
                    <td>next Appointment</td>
                </tr>
                {%for p in pets%}
                <tr>
			    <td><img src="static/pet-img/pet_{{p.id}}.jpg" onerror="onerror=null;src='/img/cat.jpg'" width="50px" height="50px" style="border-radius:10px;"></td>
                    <td>{{p.petsname}}</td>
                    <td>{{p.birthDay}}</td>
                    <td style="color: {{['red','grey','green'][p.health]}};">{{['bad','unknown','perfect'][p.health]}}</td>
                    <td>null</td>
                </tr>
                {%endfor%}


            </table>


</body>
{% endblock content %}