.div1{
	width: 200px;
	height: 25px;
}
.div2{
	width: 300px;
	height: 25px;
}
.register{
	position: relative;
	top: 1px;
	left: 200px;
	width: 150px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border-radius: 6px;
	font-size: 16px;
}
*{
	font-size: 14px;
	color: #999;
}
span{
	background: #eee;
}
.line,.register{
	clear: both;
}
.line>div{
	float: left;
}
.footer{
    width:100%;
    margin-top: 5px;
    text-align: center;
    border-top: aqua 1px dashed;
}
.all{
	width: 1000px;
	height: 25px;
}